In [2]:
d = {'key1':'value', 'key2':123}

In [3]:
d['key1']

'value'

In [5]:
d = {'k1': [1,2,3]}

In [6]:
d['k1'][1]

2

In [7]:
d = {'k1':{'innerkey':[1,2,3]}}

In [8]:
d['k1']['innerkey']

[1, 2, 3]

In [9]:
True

True

In [10]:
my = [1,2,3]

In [11]:
my

[1, 2, 3]

In [12]:
t = (1,2,3)

In [13]:
t[0]

1

In [16]:
{1,2,3}

{1, 2, 3}

In [18]:
(1<2) and (2>3)

False

In [20]:
1>3 or 2>3 or 1==1

True

In [21]:
True or False

True

In [24]:
a = 7
if a<5:
    print('if')
elif a>5:
    print('elif')

elif

In [27]:
if 1==2:
    print('first')
elif 3==3:
    print('moddle')
else:
    print('lasat')

moddle

In [28]:
seq = [1,2,3,4,5]

for u in seq:
    print(u)

1
2
3
4
5

In [32]:
i = 0

while i<5:
    i+=1
    print(i)

1
2
3
4
5

In [33]:
for i in seq:
    print(i)

1
2
3
4
5

In [34]:
range(0, 5)

range(0, 5)

In [35]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
x = [1,2,3,4]

In [37]:
out = []

for num in x:
    out.append(num**2)

In [38]:
print(out)

[1, 4, 9, 16]

In [39]:
[i*i for i in seq]

[1, 4, 9, 16, 25]

In [40]:
[num**2 for num in out]

[1, 16, 81, 256]

In [43]:
def my_func(param1):
    print(param1)

In [44]:
my_func('gello')

gello

In [45]:
def f(name='defaultname'):
    print('hello' + name)

In [47]:
f(name='jose')

hellojose

In [48]:
f()

hellodefaultname

In [49]:
def square(num):
    return num**2

al = square(6)

In [50]:
al

36

In [51]:
def time(a):
    return a*2

In [52]:
time(6)

12

In [54]:
seq = [1,2,3,4,5]

list(map(time, seq))

[2, 4, 6, 8, 10]

In [55]:
list(filter(lambda x:x%2==0, seq))

[2, 4]

In [1]:
def f(a):
    return a/2

In [2]:
f(6)

3.0

In [3]:
def t(var): return var*2

In [4]:
t(45)

90

In [6]:
def f(val):
    return lambda x:x**2

In [11]:
t = lambda v:v*2

In [13]:
a = [12,34,56,7]

In [14]:
list(map(lambda num:num*3, a))

[36, 102, 168, 21]

In [17]:
list(filter(lambda num:num%2==0, a))

[12, 34, 56]

In [18]:
 s = 'hello my name is sam'

In [19]:
s

'hello my name is sam'

In [20]:
s.upper()

'HELLO MY NAME IS SAM'

In [21]:
s.lower()

'hello my name is sam'

In [22]:
s.split()

['hello', 'my', 'name', 'is', 'sam']

In [25]:
s.split(',')

['hello my name is sam']

In [26]:
s.split('my')[1]

' name is sam'

In [27]:
d = {'k1':1, 'k2':2}

In [28]:
d.keys()

dict_keys(['k1', 'k2'])

In [29]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [30]:
d.values()

dict_values([1, 2])

In [31]:
 lst = [1, 2, 3]

In [32]:
lst.pop()

3

In [33]:
lst

[1, 2]

In [34]:
lst = [1,2,3,4,5]

In [35]:
item = lst.pop()

In [36]:
first = lst.pop(0)

In [37]:
first

1

In [38]:
lst.append('new')

In [39]:
lst

[2, 3, 4, 'new']

In [40]:
'x' in [1,2,3]

False

In [41]:
x = [(1,2), (3,4), (5,6)]

In [42]:
x[0][1]

2

In [44]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [47]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6